body {
    margin: 0;
    background-color: #9BAB7A;
    color: white;
    font-family: 'Space Grotesk';
}

img {
    height: 35px;
    width: 35px;
    margin: 2px;
    filter: invert(93%) sepia(28%) saturate(455%) hue-rotate(28deg) brightness(105%) contrast(104%);
}

img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1444%) hue-rotate(311deg) brightness(105%) contrast(120%);
}

h1 {
    font-size: 40px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    color: #CFEB94;
    margin: 0px;
    font-weight: 500;
}

p {
    font-size: 16px;
}

b {
    color: #E9FFBB;
    font-weight: 600;
}

b#name {
    color: #CFEB94;
}

a {
    color: #E9FFBB;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #ffe57d;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 2;
}

.info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box {
    border: 2px dotted white;
    padding: 1%;
    width: 47%;
}

.links {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}